---
import Hint from "../components/Hint.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout footerAtBottom={true}>
    <div>
        <h1>Page not found</h1>

        <div class="contact-cta">
            <a>Take a look at this animation while you're here</a>
            <span class="hint-center"><Hint /></span>
        </div>
    </div>
</BaseLayout>
<style>
    .hint-center {
        position: fixed;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    @media (max-width: 700px) {
        .hint-center {
            position: static;
            transform: none;
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 0.8rem;
        }
    }
</style>
